<section class="block12">
    <div class="wrapper">
        <h3>Выберите тренера, который научит вас делать то, что для всех остальных выглядит волшебством</h3>

        <a class="item scroll-to" data-target=".safiullina" href="#">
            <div class="photo-container">
                <p class="name">Эльмира Довлатова (Сафиуллина)</p>
                <div class="fader"></div>
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/8-b.png' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="photo-container hover">
                <p class="name">Эльмира Довлатова (Сафиуллина)</p>
                <div class="fader"></div>
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/8.png' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <p class="slogan">"В этом мире возможно все!"</p>
        </a>
        <a class="item scroll-to" data-target=".dovlatov"  href="#">
            <div class="photo-container">
                <p class="name">Константин Довлатов</p>
                <div class="fader"></div>
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/7-b.png' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="photo-container hover">
                <p class="name">Константин Довлатов</p>
                <div class="fader"></div>
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/7.png' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <p class="slogan">"Невозможно <b>вдруг</b> начать новую жизнь."</p>
        </a>
        <a class="item scroll-to" data-target=".block16 .n2"  href="#">
            <div class="photo-container">
                <p class="name">Сабина Ефремова</p>
                <div class="fader"></div>
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/6-b.png' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="photo-container hover">
                <p class="name">Сабина Ефремова</p>
                <div class="fader"></div>
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/6-hover.png' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <p class="slogan">"Жить - это интересно!"</p>
        </a>

        <a class="item scroll-to" data-target=".block13" href="#">
            <div class="photo-container">
                <p class="name">Александр Песков</p>
                <div class="fader"></div>
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/1-b.png' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="photo-container hover">
                <p class="name">Александр Песков</p>
                <div class="fader"></div>
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/1-hover.png' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <p class="slogan">"Всегда есть другой путь"</p>
        </a>
        <a class="item scroll-to" data-target=".block16"  href="#">
            <div class="photo-container">
                <p class="name">Павел Двойнишников</p>
                <div class="fader"></div>
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/21.png' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="photo-container hover">
                <p class="name">Павел Двойнишников</p>
                <div class="fader"></div>
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/21-b.png' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <p class="slogan">"Жить. Проживать. Осознавать. Отпускать. Жить."</p>
        </a>
        <a class="item scroll-to" data-target=".block19"  href="#">
            <div class="photo-container">
                <p class="name">Марина Алясова</p>
                <div class="fader"></div>
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/19-b.png' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="photo-container hover">
                <p class="name">Марина Алясова</p>
                <div class="fader"></div>
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/19.png' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <p class="slogan">"Познавая себя и мир, я создаю свою реальность."</p>
        </a>
        <a class="item scroll-to" data-target=".block20"  href="#">
            <div class="photo-container">
                <p class="name">Нурида Мамедова</p>
                <div class="fader"></div>
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/20.png' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="photo-container hover">
                <p class="name">Нурида Мамедова</p>
                <div class="fader"></div>
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/20-b.png' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <p class="slogan">"В жизни нет ничего невозможного и главное в  нашей жизни – ЛЮБОВЬ!"</p>
        </a>

    </div>
</section>