<section class="block16">
    <div class="wrapper">
        <div class="photo-container">
            {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/21-1.jpg' %}
                <img src="{{ asset_url }}" alt="" />
            {% endimage %}
        </div>
        <div class="about">
            <h3>Павел Двойнишников</h3>
            <ul class="biography circle-marked">
                <li>Телесный терапевт, процессор ПЭАТ, СиМ, РПТ</li>
                <li>Снимает психологические блоки и запускает исцеление организма через прикосновения</li>
                <li>Исцеляет внутреннего ребёнка, помогает принять себя</li>
                <li>Учит входить в состояние, в котором можно глубоко и мощно себя проработать</li>
            </ul>
        </div>
        <div class="clr"></div>
        <div class="case">
            <h3>Реальный случай из практики</h3>
            <p>В ходе сеанса некурящий клиент выдыхал дым от сигарет, <br> которые курила его мать во время беременности</p>
        </div>
        <div class="photo-container n2">
            {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/efremova.jpg' %}
                <img src="{{ asset_url }}" alt="" />
            {% endimage %}
        </div>
        <div class="about">
            <h3>Сабина Ефремова</h3>
            <ul class="biography circle-marked">
                <li>Кандидат юридических наук, преподаватель высшей школы, коуч, специалист по урегулированию конфликтов</li>
                <li>Помогает осознать и принять свои тёмные стороны, чтобы стать гармоничной, целостной личностью</li>
                <li>Активирует женские энергии, обучает принятию себя через встречу с душой</li>
            </ul>
        </div>
        <div class="clr"></div>
        <div class="reviews">
            <div class="wrapper">
                <h4>Отзывы о Сабине</h4>
                <div class="left">
                    <div class="review">
                        <i class="fa fa-quote-right"></i>
                        <p>Я очень рада, что меня судьба свела с Сабиной.</p>
                        <p>Очень приятна в общении,  огромный заряд энергии, знаний, желания помочь, поделиться опытом. Достаточно быстро нашла общий язык и сплотила всю группу, чувствовалась поддержка и внимание к  каждому из участников.</p>
                        <p>Профессионализм психолога, гибкий подход, стойкость, быстро и верно принятые решения в разных ситуациях. Огромная благодарность за умение донести сложные вещи простыми словами, желание донести все тонкости, нюансы, за чуткость, юмор, искренность и честность, и очень бережное отношение.</p>
                        <p class="date">10 апреля 2015</p>
                        <p class="author">Надежда Сигулева</p>
                    </div>
                    <div class="review">
                        <i class="fa fa-quote-right"></i>
                        <p>Я раз 10 писала отзыв, но он хронически не отражает сути того, что происходило в те 3 дня в Москве, когда шел тренинг.</p>
                        <p>Дело в том, что Сабина ­ волшебница, а в русском языке не хватает слов для описания тех чудес, что происходили тогда.Квинтэссенция женской силы, обаяния, внимательности и поддержки!!!!!!!</p>
                        <p>При этом она не вторгается с предложениями о помощи , а переспросив "ты уверена, что ты этого хочешь и тебе это надо?" и дав время подумать, она вроде бы и ушла, ничего не сделав, а ситуация разулилась. Сама. И она ни при чем. А глаза хитрющие ­ "что­то не так?"­ и знает, что уже все ОК. Как так? Что она делает? И как делает?</p>
                        <p>Для меня состояние 500+, 800+  были так легки и приятны, что возвращаться не хотелось нисколечко, а задачи души стали полной неожиданностью.</p>
                        <p>Сабина умеет создавать вокруг себя  ощущение радости  и праздника! Шла серьезная работа, прорабатывались тяжелые родовые истории , а общее состояние легкости не покидало! Мне было очень важно проработать одну из своих семейных историй, которая после МАКа осталась болеть, и если бы Вы знали, как изящно и виртуозно она нашла выход!!!!!!!!!</p>
                        <p class="date">10 апреля 2015</p>
                        <p class="author">Светлана Акимова</p>
                    </div>
                </div>
                <div class="right">
                    <div class="review">
                        <i class="fa fa-quote-right"></i>
                        <p>Очень хочется суметь выразить словами ту благодарность, которую я чувствую к Сабине! За её талант всегда оказаться рядом в нужную минуту, без слов понять и увидеть самую суть. Направить туда, куда надо и помочь пройти. За её чуткость и понимание, что надо сделать ­ где снять боль, где подбодрить, где дать совет, а где дать тепла и поддержки.</p>
                        <p>Было чувство безопасности, ошущение того, что я справлюсь.. и я справилась. Справилась с тем, что мучало меня почти всю мою сознательную жизнь. Тяжкий мешок из боли, вины, ненужности и безысходности я оставила на МАКе, под тренерским руководством Сабины. И теперь, знаете.. мне жить хочется! жить, творить, любить!</p>
                        <p>Сабина знаете кто? Она волшебница…</p>
                        <p class="date">31 марта 2015</p>
                        <p class="author">Анетта Романенко</p>
                    </div>
                    <div class="review">
                        <i class="fa fa-quote-right"></i>
                        <p>Я не знаю, как это назвать ­ Чудо или...Но это уже не важно.</p>
                        <p>Когда тебе вдруг неожиданно становится плохо, и ты сам не понимаешь, от чего слезы душат тебя, человек, за минуту, по сути, просто глядя тебе в глаза, рассказывает о тебе то, самое наверное потаенное и глубоко спрятанное в самых далеких уголках себя, что так долго и мучительно ты скрывал от всех.</p>
                        <p>И не просто говорит, но и помогает принять это и смело посмотреть этому в глаза, причем помогает не только словами, но и физически. И тебя не осуждают, но и не поддерживают. Просто рассказывают, и ....ты это принимаешь душой и сердцем.И все это происходит за считанные минуты.</p>
                        <p class="date">31 марта 2015</p>
                        <p class="author">Надежда Колодкина</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
    <section class="block21"> <!-- Саская -->
        <div class="wrapper clr">
            <div class="photo-container">
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/Saskaya.jpg' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="about dovlatov">
                <h3>София Саская</h3>
                <ul class="biography circle-marked">
                    <li>Тренер по Духовной Интеграционике К. Довлатова</li>
                    <li>Лицензированный тренер технологии RPT: Быстрые Личностные Изменения (Rapid Personal Transformation). Уровни 1-й и 2-й</li>
                    <li>Сертифицированный процессор RPT</li>
                    <li>Сертифицированный Бизнес-тренер</li>
                    <li> Автор тренинговых программ, программ развития личности, программ духовного роста</li>
                    <li>Сертифицированный коуч</li>
                    <li>Психолог</li>
                    <li>Мастер потока Матери мира</li>
                    <li>Педагог по актёрскому мастерству</li>
                    <li>Практикующий эзотерик</li>
                    <li>Опыт тренерской деятельности 9 лет. Руководитель театр-школы "Образ" в Ростове-на-Дону с 2007 года.
                        Преподаёт актёрское мастерство с 2007 года. Сертифицированный бизнес-тренер.</li>
                </ul>
            </div>
            <div class="review">
                <i class="fa fa-quote-right"></i>
                <p>Добрый вечер! Я Овчинникова Анна, проходила курс по РПТ 1 и РПТ 2 март – апрель 2015 года.
                    И сейчас я хочу поблагодарить нашего замечательного тренера, очаровательную женщину, которая давала материал настолько доступно, что мне кажется, что поняли бы даже дети. И я хотела бы привлечь ваше внимание к этой техники, по той простой причине, я сейчас скажу вещь, которая не принадлежит мне, которую я услышала от другого человека, но она очень точно отражает всю ту необходимость, которая есть у людей в этой технике. Мы привыкли, что используем новейшие гаджеты, мы хотим ездить на хороших автомобилях, мы хотим носить одежду из последней коллекции, а не то, что там когда – то было. Но почему то в работе со своей психикой мы используем принципы 19 века. Я прошу вас всех задуматься о том, что ваша психика гораздо важнее всех гаджетов и всех автомобилей, на которых вы ездите  и той одежды, которую вы носите. Спасибо.
                </p>
                <p class="author">Овчинникова Анна, Ростов-на-Дону.  (о тренинге РПТ, прошедшем в апреле 2015)</p>
            </div>
        </div>
        <div class="schedule">
            <div class="wrapper link-block">
                <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">
                    Перейти к расписанию тренингов
                </a>
            </div>
        </div>
    </section>
    <section class="block21"> <!-- Скобиоала Лидия  -->
        <div class="wrapper clr">
            <div class="photo-container">
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/Skobiala.jpg' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="about dovlatov">
                <h3>Лидия Скобиоала ( Альшальди)</h3>
                <ul class="biography circle-marked">
                    <li>Процессор и тренер  по Духовной Интеграционике К. Довлатова</li>
                    <li>Сертифицированный процессор RPT (1-й и 2-й уровни) </li>
                    <li>Целитель - практик по Образному Творению</li>
                    <li>Целитель-практик по Тета-хилинг</li>
                    <li>Физиолог и магистр наук</li>
                    <li>Инструктор по аштанга,  виньяса йоге, хатха йоге, йоге для беременных и детей</li>
                    <li>Мастер целитель РЕЙКИ</li>
                    <li>Диетолог</li>
                </ul>
            </div>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>Лидия, приветствую ВАС! После нашей сессии я начла ощущать, где у меня сердечная чакра. Вспоминаю, как родила Катюню и такое тепло разливается по телу- не прередать!:))) А еще начала ощущать, что я свободна от своего обещания. Теперь чувствую, как будто я уже больше никому ничего не должна. Очень приятно) Как будто что-то глубоко внутри меня отпустило... Фантастика!  И тут появились такие мысли, что я должна сделать что-то такое невероятное, выйти из какой-то трудности, чтобы продемонстрировать силу человеческого духа..
            </p>
            <p class="author">Наталья Шипкевич</p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>Лидия, дорогая, спасибо огромное за доброе сердце!!! Полина изменилась - стала спокойнее, улыбается, едет в Питер на каникулы новогодние, настроение совсем другое. Встретила своего парня.
            </p>
            <p class="author">Tatyana </p>
        </div>
        <div class="schedule">
            <div class="wrapper link-block">
                <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">
                    Перейти к расписанию тренингов
                </a>
            </div>
        </div>
    </section>
    <section class="block21"> <!-- Гуля Мусаева  -->
        <div class="wrapper clr">
            <div class="photo-container">
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/Musaeva.jpg' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="about dovlatov">
                <h3>Гуля Мусаева </h3>
                <ul class="biography circle-marked">
                    <li>Тренер  по Духовной Интеграционике К. Довлатова</li>
                    <li>Процессор по работе с метафорическими ассоциативными картами</li>
                    <li>Процессор РПТ</li>
                    <li>Диплом Института консультирования и тренинга (профессия-психологическое консультирование)</li>
                    <li>Работала в банковской сфере более 20 лет, из них 17 лет руководителем</li>
                    <li>Помогаю в сложных отношениях в семье, финансовых и карьерных вопросах. Работаю до положительного результата</li>
                </ul>
            </div>
        </div>
        <div class="schedule clr">
            <div class="wrapper link-block">
                <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">
                    Перейти к расписанию тренингов
                </a>
            </div>
        </div>
    </section>
    <section class="block21"> <!-- Инга Цебулина  -->
        <div class="wrapper clr">
            <div class="photo-container">
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/Cebulina.JPG' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="about dovlatov">
                <h3>Инга Цебулина</h3>
                <ul class="biography circle-marked">
                    <li>Тренер и практик по Духовной Интеграционике К. Довлатова</li>
                    <li>Практик по метафорическим ассоциативным картам</li>
                    <li>Практик НЛП</li>
                    <li>Куратор Школы коучинга потоки 5 и 6</li>
                    <li>Коуч по методу Социальной Панорамы(авторская методика Лукаса Деркса)</li>
                    <li>Процессор РПТ</li>
                    <li>Энергопрактик</li>
                    <li>Мастер Рэйки</li>
                    <li>Практикующий психолог</li>
                </ul>
            </div>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>«Хочу выразить бесконечную благодарность Инге Владимировне, за ее профессионализм, поддержку и доброе сердце! Мне очень повезло, это специалист высокого уровня! Благодаря нашим сессиям, я становлюсь все спокойней и осознанней-это очень влияет на успехи в моей жизни!!! Проблема, с которой я обратилась вызывала во мне тревогу, беспокойство и постоянные сомнения, но сейчас я поняла, что все это от того, что я запрещала себе жить, слышать себя, мнение других было очень значимым, а на свои чувства, мысли, желания я не обращала внимания, испытывая стресс и вину! Сейчас моя жизнь меняется, я с любовью и уважением отношусь к себе, научилась слышать свои желания, возвращаюсь к себе настоящей, к своей душе и очень этому рада! Замечаю, как приобрела ценность в глазах других, вижу, как меняется отношение моих близких, теперь мое мнение важно! А самое главное, что я становлюсь женственней, ведь женщина может быть прекрасной, только когда спокойна и счастлива!!! Инга Владимировна-ВОЛШЕБНИЦА!!!»
            </p>
            <p class="author">С любовью, Людмила Форощук г. Санкт-Петербург</p>
        </div>
        <div class="schedule">
            <div class="wrapper link-block">
                <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">
                    Перейти к расписанию тренингов
                </a>
            </div>
        </div>
    </section>
    <section class="block21"> <!-- Анна Яблочкина  -->
        <div class="wrapper clr">
            <div class="photo-container">
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/mir.JPG' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="about dovlatov">
                <h3>Анна Яблочкина</h3>
                <ul class="biography circle-marked">
                    <li>Тренер  и практик по Духовной Интеграционике К. Довлатова</li>
                    <li>Основные специализации: исцеление душевных травм, возрастных кризисов, депрессий, работа с квантовыми уровнями сознания, открытие чакр</li>
                    <li>Тренер и практик по работе с метафорическими ассоциативными картами</li>
                    <li>Главная особенность —специалист по возвращению радости в жизнь человека</li>
                    <li>Процессор РПТ, Аспектика, ГП-4</li>
                    <li>Работа с квантовыми уровнями сознания, система чакр, открытие чакр, согласование чакр</li>
                    <li>Исцеление раннего импринтинга, исцеление травм Души, возрастных кризисов, исцеление травм, стрессов, депрессий, наработка навыка получения и принятия ресурсов</li>
                </ul>
            </div>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p><b>запрос:</b>  долгое время не получалось  решить вопрос с целями в жизни.
                Пробовала сама разными техниками, но причина сидела слишком глубоко
                в подсознании, чтобы справиться самой.</p>
            <p><b>результат:</b> убрали травму, вернули потерянное ресурсное состояние,
                Тамара организовала новые трансформационные целительские проекты в
                своем городе, ведёт группы, приехала на Максимальную Жизнь
                Константина Довлатова, живёт счастливой наполненной жизнью любимой
                и любящей женщины.</p>
            <p class="author">Тамара Позднякова, 60 лет, Орск, Россия</p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p><b>запрос:</b>проработка личных границ, чувства вины, жертвенности, внешнего
                давления; ранее Сергеем данная тема прорабатывалась на разных
                тренингах и курсах более 3-х лет</p>
            <p><b>результат:</b>сразу по итогу сессии клиентом выиграно 2 судебных процесса
                в Австрии</p>
            <p class="author">Сергей Комков, Инсбрук, Австрия, целитель, предприниматель</p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p><b>запрос:</b>Нет сил. Неверие в себя. Отсутствие внутренних ресурсов, как
                физических, так и моральных.</p>
            <p><b>результат:</b>цитата Елены: «Сразу по окончанию сессии было состояние
                эйфории, как будто мешок с плеч сняли… Хотелось смеяться.
                Именно поэтому я не стала сразу писать обратную
                связь…попросила неделю, ведь такое состояние для меня было на
                столько не привычным……В течении дня все время внутри
                «улыбалась и молчала», в душе была тишина и покой - Анне дала
                слово «не расплескать полученный ресурс», даже коллега сказала,
                что-то с вами не так у вас внутри какая-то тишина. Ближе к вечеру
                прошла проверку своего ресурса… 30 минут меня проверяли на
                прочность…. И как только я поняла, что начинает во мне
                подниматься обида и бессилие, я мысленно достала свой ресурс.
                Работает!!!!! Он действительно внутри меня…. И я им очень
                органично воспользовалась…Вопросы все снялись.
                 Сил действительно прибавилось…Концентрация внимания более
                устойчивая…Спокойствие, даже когда надо решить несколько задач
                сразу…За сегодня сделала работу, на которую раньше бы
                потратила три дня…потому что просто бы уставала от одной мысли,
                что нужно сделать….»</p>
            <p class="author">Елена Терещенко, Алматы, Казахстан</p>
        </div>
        <div class="schedule">
            <div class="wrapper link-block">
                <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">
                    Перейти к расписанию тренингов
                </a>
            </div>
        </div>
    </section>
    <section class="block21"> <!--Мария Сибирякова  -->
        <div class="wrapper clr">
            <div class="photo-container">
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/sibiryakova.JPG' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="about dovlatov">
                <h3>Мария Сибирякова</h3>
                <ul class="biography circle-marked">
                    <li>Тренер по Духовной Интеграционике К. Довлатова</li>
                    <li>Тренер и практик по работе с метафорическими ассоциативными картами</li>
                    <li>Практик RPT (1,2 уровень)</li>
                    <li>Практик ThetaHealing (продвинутый уровень)</li>
                    <li>Окончила институт интегративной психологии профессионального развития по программе “Ультракоучинг” </li>
                    <li>Коуч, практикующий психолог</li>
                    <li>Куратор в проекте К. Довлатова  “Путь к себе”</li>
                    <li>Участвовала на МАК 6 в качестве куратора группы</li>
                    <li>Кандидат химических наук, доцент, 15 лет преподавала в институте</li>
                </ul>
            </div>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>Я не знала, что мне делать. Я не ценила жизнь, боялась ходить на работу. Я не понимала сына, и он постоянно собирался уйти из дома. Сны превращали ночь в кошмар. И всё это пряталось за слезы , истерики и агрессию.
                Работая с Марией я изменилась. А главное : изменения продолжаются, меняется даже то, о чём я и не думала. Мне казалось, что без таблеток и психиатра, я уже не вылезу из этой пропасти... Но Мария так тепло, аккуратно, профессионально вела меня, направляла и помогала, что сразу после первой сессии пришло облегчение и решение многих проблем.
                Я во время всех сессий чувствовала безопасность и экологичность происходящего. Для меня - это очень важно.
                Маша, Вы вернули мне меня! Жизнь стала светлой ! Жить хочется! Мои близкие вздохнули, и я увидела любовь в их газах!
            </p>
            <p class="author">Ольга. (Казань) Инвестиционный консультант, трейдер</p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>Я познакомилась с Марией Сибиряковой будучи студенткой курса «Путь к себе». Мария стала для меня не только куратором, а в последствии – моим личным терапевтом, запустившим во мне новую линию времени, новую линию жизни. Интенсивная работа - сессии-интеграции с техникой ДИ,  с использованием метафорического подхода и специальных знаний в области психологии, выстроенных на надежном и основательном фундаменте личной профессиональной ответственности, искренности, любви к своему делу, тонкой чувствительности. С первых минут чувствуется накопленный опыт и талант проведения терапевтических сессий различной направленности.
                Мария, в Ваши руки - доверяешься. С желанием. С встречной самоотдачей. Спасибо отдельное - за экологию проделанной работы - аккуратность в отношении психики с активированным запросом. Это - Сильно. Качественно. Результативно. И нереально гармонично и экологично. После  нашей работы  я другой человек. Мгновенно,  после каждой сессии - новое реагирование на окружающее, решения и поведение иного плана. Стабильное положительное самочувствие. Полная трансформация. Трансформация, которую ощущаешь, чувствуешь и осознаешь.
            </p>
            <p class="author">Наталья. (Ульяновск). Финансовый аналитик</p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>Неуверенность в себе и как следствие невозможность решать возникающие вопросы и достигнуть цель, которая  вдохновляла и радовала, но любой мой практический шаг в еe направлении оканчивался неудачей.
                К Марии я пришел  уже с убеждением, что мою проблему решать придется долго и упорно. По крайней мере, одной сессией явно не обойдется.
                В результате обошлось одной. Мария работала на каком-то глубоком, интуитивном уровне, легко нашла первопричину, лежащую в основе моей неуверенности в себе. Причина оказалась довольно деликатной, и далеко не с каждым я бы стал  ее обсуждать: по роду отца шло ущемление мужского достоинства, мужского начала. И это проявлялось из поколения в поколение. И Мария очень мягко и деликатно помогла мне посмотреть на то, на что сам я вряд ли бы смог. Это оказалось неожиданно легко, я чувствовал ее поддержку. А затем произошло какое-то волшебство – иначе и не скажешь!  Картинка с проблемной ситуацией буквально рассыпалась, и проблема вдруг перестала существовать.
            </p>
            <p class="author">Владимир. (Челябинск)</p>
        </div>
        <div class="schedule">
            <div class="wrapper link-block">
                <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">
                    Перейти к расписанию тренингов
                </a>
            </div>
        </div>
    </section>
    <section class="block21"> <!-- Геннадий Шевчук  -->
        <div class="wrapper clr">
            <div class="photo-container">
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/Shevchuk.jpg' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="about dovlatov">
                <h3>Геннадий Шевчук</h3>
                <ul class="biography circle-marked">
                    <li>Тренер  и практик по Духовной Интеграционике К. Довлатова</li>
                    <li>10- летний опыт работы с людьми</li>
                    <li>Консультант по Родовым вопросам</li>
                    <li>Энергетический расстановщик</li>
                    <li>Тренер и практик по «Психологии денег»</li>
                    <li>Практик по работе с Метафорическими Ассоциативными Картами</li>
                    <li>Практик RPT (RAPID PERSONAL TRANSFORMATION) - техника мгновенных личностных трансформаций (1,2 уровни) и технология «Перезачатие»</li>
                    <li>Тренер и ведущий психологической игры «Лила - игра самопознания»</li>
                    <li>Составляю ведические гороскопы - персональные, на совместимость, бизнес-гороскопы и ситуационные.</li>
                </ul>
            </div>
        </div>
        <div class="schedule">
            <div class="wrapper link-block">
                <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">
                    Перейти к расписанию тренингов
                </a>
            </div>
        </div>
    </section>
    <section class="block21"> <!-- Елена Волгина -->
        <div class="wrapper clr">
            <div class="photo-container">
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/volginna.jpg' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="about dovlatov">
                <h3>Елена Волгина</h3>
                <ul class="biography circle-marked">
                    <li>Cертифицированный  тренер  авторской  методики Константина Довлатова “Духовная Интеграционика”</li>
                    <li>выпускница  Академии  государственной  службы  при Президенте РФ по специальности психолог­акмеолог</li>
                    <li>Процессор РПТ</li>
                    <li>Ученица  Князева  Александра  Михайловича,  ректора Института деловых игр, профессора кафедры акмеологии и  психологии  профессиональной  деятельности  РАГС  при Президенте РФ, эксперта по развитию бизнеса в России и за  рубежом,  создателя  международной  образовательной компании “EducationMatrix”</li>
                    <li>Профессиональный коуч</li>
                    <li>Интуитивный  психолог,  специалист  по  регрессиям  и исцелению Рода</li>
                    <li>Эксперт  по  комплексной  психологической  диагностике, MMPI  (профессиональная  ориентация,  поиск предназначения)</li>
                    <li>выпускница Quan Academy (Китай), Мастер TaiJi</li>
                    <li>автор курсов “Активация денежного потока”, “От мечты к цели”,  "Денежные  тренировки",  “Поход  к  Счастью”  по местам силы и т.д..</li>
                </ul>
            </div>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>Мой отзыв о Елене Волгиной – интуитивном психологе, специалисте по регрессиям и исцелению… исцелению Души. Я хочу выразить свою признательность Елене, она стала именно тем Учителем, который изменил мое мировоззрение. Она Целитель от Бога, мастерски использует самые разные методы в своей работе с человеком. Ненавязчиво, мягко направляя, ведет за руку, как малое дитя, домой – в Мир Доверия и Любви , к себе самому, людям, Богу… Я прорабатывала разные темы с Еленой. И всегда она использовала новые методы и способы, подтверждая всю многогранность своих знаний и мастерства… при этом тонко чувствуя мое внутреннее состояние и не перегибая палку (как люди говорят), умело вскрывая травмы прошлого. Знание РПТ + Духовная Интеграционика – просто ошеломили, как техники, своей скоростью и мощью…Сепарация с мамой и папой. Работа с Родом… Работа с метафорическими картами – шикарная помощь в решении вопроса отношений… При участии в тренинге - интенсиве «живые деньги» открыла для себя новые причинно-следственные связи и вторичные выгоды, выявила блокировки прихода денег и, осознав это, поняла свои проблемы с финансами … их утечку… И я думаю это далеко неполный перечень того, чем она щедро делится с нами. Для себя твердо решила продолжить работу над собой с Еленой. Мой человек - мой Учитель, чувствую и благодарю!
            </p>
            <p class="author">Елена Куксенок</p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>Здравствуйте Елена!
                После вчерашней работы с картами и после реинтеграции, как вы помните, я начал зевать, потом голова налилась чем-то (как будто, поднялось давление). Я уехал домой в состоянии задумчивости, как я понимал мой мозг (контроль) не мог понять, что происходит, или что-то ушло, или что-то пришло. Я был хмурым и ушел в себя. Сильно болели мышцы, утром было 95, когда приехал 91,8 кг. В таком состоянии лег спать. Проснулся, и мне пришло осознание, что внутри образовалась пустота. Внутри меня тишина, спокойствие, я уверен в себе, я знаю, что мне делать и что я могу сделать всё. Ушла внутренняя суета, мельтешение. К обеду пришло осознание, что ушло скрытое заискивание перед людьми, когда ты улыбаешься людям по поводу и без. Хочешь казаться лучше, угодить в ущерб себе. Хочешь быть таким "ХОРОШЕНЬКИМ". К обеду меня стало напрягать, что я хмурый, строгий и жесткий. Сейчас 17-00, улыбнулся в зеркало - улыбка мне понравилась, открытая и глаза стали другими. Раньше глядя в зеркало ловил себя на мысли, что-то не так с улыбкой. А сейчас "КРАСАВЧИК !!!" ...
                Елена! Большое Вам спасибо.
            </p>
            <p class="author">С уважением С.Г.Мирошниченко</p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>Что я могу сказать о результатах применения техники ДИ и РПТ? Да это просто вау! Что-то невероятное! Я счастлива, что имела (и имею) невероятную возможность ощутить на себе всю колоссальную силу мгновенной личностной трансформации, да и еще под чутким руководством профессионала своего дела Елены Волгиной.
                Что меня привело к Елене? Причин, на самом деле, много. Основная из них – заболевание, которое меня беспокоит уже около года в свои-то 20 лет – неспецифический язвенный колит (НЯК). Природа этого заболевания не до конца известна, но я, как и большинство врачей и психологов, склоняюсь к тому, что причиной НЯК есть психосоматика. Это и не странно, так как всю свою сознательную (и, как потом оказалось, бессознательную) жизнь я была очень переживательной, суетливой, шла на поводу у своих страхов и сомнений. Елена помогла мне ощутить всю свою силу, энергию, колоссальный потенциал, проработав травмы, которые не давали мне покоя уже много лет и пройдя со мной многие практики.
                Так что там с язвенным колитом, спрашиваете? Всего 10 дней назад я начала работу с Еленой, но уже сегодня видны результаты – я словила себя на мысли, что постоянная боль и дискомфорт в животе, которые меня тревожили чуть ли не каждый день на протяжении последних десяти месяцев, начали исчезать.  А почему? Да просто перестала концентрироваться на боли, очистила голову от негативных мыслей, начала активно преодолевать страхи, да и просто меньше переживать по любому поводу.
                Такие результаты за 10 дней! Так что же будет дальше? Меня это воодушевляет и вдохновляет! Благодаря работе с Еленой и применяемым ею прогрессивным техникам, а в частности ДИ, я встала на путь новой сознательной жизни! Я ощущаю возвращение потраченных во время травм ресурсов, прилив сил и энергии. Работы предстоит еще очень много, но огромное желание и чуткое руководство профессионального колоссального уровня Елены мне в этом помогут!
            </p>
            <p class="author">Бровко Анастасия, 20 лет,Украина </p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>Хочу рассказать про изменения в моей жизни и жизни мое семьи, после знакомства с ВАМИ.
                Я бесконечно благодарна нашему знакомству. Пришла я к Вам одним человеком, а сейчас я уже другой. Более уверенный, человек с чувством собственного достоинства, человек в себя верующий и живущий в гармонии с окружающим миром.
                Рассказываю подробности:
                На первых занятиях (работа над собой началась в октябре 2015г.) я изучала (давно позабытую информацию) о внутреннем ребенке, взрослом и родителе. Немного о себе: Мне 46 лет. Я за мужем и у меня четверо взрослых детей, и я счастлива.
                Гармонизация этих миров привела к чудесным отношениям с детьми. Мужем. Мамочкой и миром. А самое главное, наступила у меня.  Я учусь жить, понимать и принимать моего ребенка, родителя и взрослого. Договариваться с ними, пользоваться этими знаниями.
                Благодарю
                Следующая гармонизация мужчины и женщины привели к новым партнерским отношениям на работе и дома. Я научилась жить в правильном процентном отношении составляющих.
                Я женщина и это чудесно! Отказалась от сильнейшей ответственности перед своими действиями (больше про работу) Могу ошибиться и это мой опыт.  Мир отношений очень сильно изменился, в семье гармония, а на работе…
                Следующие занятия были по умению загадывать желания. Их проводили всей семьей. Волшебство: уже начали сбываться))))))))))) Мой якорь всегда рядом.
                Благодарю!
                После чего мы начали работать над 12 умами тела.  Это для меня глобальная работа, длительная. А получилось все чудесно. Карты что надо!
                Жизнь поменялась на 180 градусов. Слава богу в семье любовь и гармония, а вот ситуация на работе очень сильно обострялась. Я меняюсь, а ситуация обостряется.  Поясню - у меня личный бизнес. Открыт 5 лет назад с партнером  (мы же два учредителя 50 на 50).  Рассказывать про трудности не вижу смысла, а вот возможность работать с партнером полностью себя изжила. Трудно, но решение пришло: Буду работать самостоятельно. Поддержка семьи и рода сильнейшая. Чувствую и все получается. Сегодня происходит регистрация фирмы (моей фирмы!!!). Я агент по недвижимости. Хочу и с любовью помогаю людям решать вопросы, связанные с приобретением счастливых квадратных метров, а при необходимости выгодно продавать имеющееся жилье.
                Ситуация созревала уже около 3 лет. Было страшно, стыдно, чувствовала себя   предателем. Поэтому предавая свои желания шла на работу. Тело начало болеть (полнеть), только благодаря нашим занятиям с Еленой Волгиной у меня получилось изменить и здесь ситуацию к лучшему.
                Сейчас (после моих умов) тело приобретает былую форму, уходит вес. Я гармонична, с чувством собственного достоинства и верой в себя начала работать над программой плюс пятьсот.
                Благодарю.
                Также изменения происходят и у всех членов моей семьи.))))))))))))))
                Огромная благодарность Елена за Вашу работу! До новых встреч!
            </p>
            <p class="author">Елена</p>
        </div>
        <div class="schedule">
            <div class="wrapper link-block">
                <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">
                    Перейти к расписанию тренингов
                </a>
            </div>
        </div>
    </section>
    <section class="block21"> <!-- Чиндяскина (Зубкова) Ирина -->
        <div class="wrapper clr">
            <div class="photo-container">
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/chindyaskina.jpg' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="about dovlatov">
                <h3>Ирина Чиндяскина</h3>
                <ul class="biography circle-marked">
                    <li>Тренер по Духовной Интеграционике К. Довлатова</li>
                    <li>Процессор Духовной Интеграционики</li>
                    <li>Процессор РПТ</li>
                    <li>Энергетический расстановщик</li>
                    <li>Процессор Метафорических карт</li>
                    <li>Коуч личной эффективности</li>
                    <li>Тренер в системном бизнесе</li>
                </ul>
            </div>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>Благодарю Ирину Чиндяскину за хорошую работу.
                Ирина, как мастер РПТ серьезный, она прорабатывала мои отношение с деньгами. Ирина всю сесию «возвращала меня с космоса». А после сессии, мне сразу перезвонил человек который захотел купить станок, которого я не мог продать уже 3 года... Судите сами. Но я знаю кого благодарить...
                Ирина очень хорошо чувствует клиента и с ней очень приятно работать.
            </p>
            <p class="author">Саулиус Гинтаутас</p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>Дорогая Ирина! Истинно дорогая!
                Ирина классно провела длительную по времени и результативную, эффективную сессию со мной
                (у меня всегда были мысли: как же согласовать умы папы, мамы и свои)
                Все получилось! Такое ощущение,что я по-новому приняла свою идентичность.
                Ирина  смогла вернуть столько моих ресурсов мне, словно она проводит сессии много лет.
                Мы отработали с ней много моих задач которые волновали меня очень,
                потому что работает Ирина с душой и ты ощущаещь доверительное отношение к себе.
            </p>
            <p class="author">Асия</p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>Ирина прекрасный психолог, владеющий техникой РПТ просто на отлично! Сессия проходит качественно, экологично и адаптивно по отношению к клиенту. Любой запрос прорабатывается профессионально и до полного разрешения ситуации. Ощутим большой опыт работы Ирины с людьми.
            </p>
            <p class="author">Александр Фокин</p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>Отдельная благодарность за сессию Ирине Чиндяскиной!!! ОЧЕНЬ хороший процессор, настолько хорошо ведет, что саботаж не возникает вовсе. Ирочка, благодарю тебя за мир, который возник внутри меня после работы с тобой, за твое понимание и терпение. Ты Молодец! Рекомендую всем работать с тобой. Только оставь и для меня местечко в расписании!
            </p>
            <p class="author">Татьяна Акинина</p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>
                Благодарю Ирину Чиндяскину!!! За быстро и профессионально проведенную сессию. Наконец-то откопали и исцелили то, откуда шла и жертвенность, и недоверие миру и мужчинам! А за исцеление посмертных решений Души - это отдельная благодарность. Теперь жизнь расцветает новыми красками и хочется немного похулиганить...
                Благодарю Костю Довлатова - ДИ рулит!
            </p>

            <p class="author">Ольга Есингу</p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>
                Ирина, благодарю за проведенную со мной работу! У нас большая разница во времени, но все-таки мы смогли найти оптимальный вариант.
                Результаты я заметила не сразу, но по прошествии недели со времени последней сессии я уже могу сказать, что я изменилась. Я теперь проще реагирую на тягу старшего сына к компьютерным играм. Не впадаю в ярость, а иду договариваться с ним. С младшим также стала общаться спокойнее. Стараюсь вести себя с детьми не с позиции родителя, а с позиции взрослого, и мне это удается. С мужем тоже взаимодействие в некоторых вопросах стало легче.
                Понимаю, что работу над собой надо продолжать. И я обязательно еще позвоню!
            </p>
            <p class="author">Карелина Наталья</p>
        </div>
    </section>
    <div class="schedule">

        <div class="wrapper link-block">
            <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">Перейти к расписанию тренингов</a>
        </div>
    </div>

    <section class="block21"> <!-- Андреева Наталья -->
        <div class="wrapper clr">
            <div class="photo-container">
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/andreewa.jpg' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="about dovlatov">
                <h3>Андреева Наталья</h3>
                <ul class="biography circle-marked">
                    <li>Имеет 2 высших образования: конструктор ЭВМ и психолог. 10 лет в практической психологии.</li>
                    <li>Индивидуальное консультирование – психология, терапия и коучинг.</li>
                    <li>Сертифицированный процессор и тренер авторской методики Константина Довлатова Духовная Интеграционика</li>
                    <li>Процессор и тренер по метафорическим картам</li>
                    <li>Процессор и Тренер по Методам подсознательного перепрограммирования</li>
                    <li>Мастер НЛП</li>
                    <li>Очень много помогает людям справляться иногда с очень сложными жизненными ситуациями, когда
                        кажется, что выхода нет, что жизнь потеряла всякий смысл, возродиться, начать ощущать себя счастливым,
                        работает с родовыми программами и помогает наладить отношения в семье.</li>
                    <li>Самое главное, что человек начинает видеть пути решения своих проблем, перестает вариться в
                        своих переживаниях и страданиях и начинает видеть возможности, которые он раньше не видел.</li>
                </ul>
            </div>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>Благодарю Наталью за проведенную сессию. Мой запрос был такой: "Убрать причину, которая вызывает обиду на
                моего мужчину". Устала сама от себя и своей реакции на его поступки. В ходе сессии Наталья очень мягко и очень
                профессионально вывела меня на сценарий моего поведения и установки, которые появились еще в детстве.
                И мой мужчина просто помогает мне проигрывать этот сценарий. Я была потрясена - для того что бы считать
                себя хорошей, я должна предъявлять претензии и обижаться. В ходе сессии наметились дальнейшие шаги для
                трансформации этого поведения. И я верю, что в ближайшее время я научусь взаимодействовать из Взрослой
                позиции. Еще раз благодарю и желаю процветания!
            </p>
            <p class="author">Елена Кузьмина, Швейцария </p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>
                Наталья! Благодарю!
                Все, что крутилось в голове о предназначении моей души - вылилось в простых 6 пунктов. Над которыми теперь надо работать.
                Безусловная любовь. Уверена, что ваше чуткое руководство, ваш профессионализм и желание, искреннее, помочь - подкупают!
                Мне очень понравилось с Вами работать!
                Друзья! Рекомендую попасть в Наталье! Это просто взрыв эмоций!
                Поверьте - она искусно выведет вас на предназначение Вас и Вашей Души
                Благодарю!

            </p>
            <p class="author">Yuliya Çeribaş    </p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>
                Наташа, спасибо тебе за коуч-сессию. Сегодня я осознала истоки своего неосознаваемого поведения,
                во многом провоцирующего с моей стороны мужчин на то, чтобы я осталась без них. Отработала ситуацию с
                отцом, сделала шаги к тому, чтобы простить его и себя. Это очень важный шаг на пути к себе. Поняла, что
                есть много еще чего прорабатывать, надеюсь, что с твоей помощью вытащим и эти блоки. Так хочется быть
                легкой, без груза за спиной. Супер-техника! Я в изумлении как быстро помогает!!! Ещё раз благодарю тебя, Наталья!!!
            </p>
            <p class="author">Ирина Ратова, </p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>
                Когда понимаешь в какой яме находишься и что из неё надо срочно выползать, то одного понимания мало:
                одолевает депрессия и нет сил сделать что-то с собой самостоятельно. Именно в этот момент высокопрофессиональная
                помощь такого специалиста как Наталья является спасительной. Растерянность, неуверенность, незнание что
                делать до сессии с Натальей сменились осознанностью стоящих передо мной задач, спокойной тихой
                уверенностью, что все получится. Теперь я понимаю зачем нужен такой проводник при принятии важных решений в жизни. СПАСИБО Наталья, хотелось бы продолжить совместное плавание в будущее. Удачи, здоровья, понимающих, благодарных людей рядом.
            </p>

            <p class="author">Людмила Дремленко, Киев</p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>
                У меня был запрос на проработку моей женственности. По ходу сессии стали всплывать неожиданные вещи. Открылась моя "задолженность" какому-то чужому роду, которая мешала мне жить свободно и радостно. Выявилось переплетение с судьбой моей прабабушки, я по каким-то причинам решила прожить ее судьбу, что и претворяла в жизнь. А моя-то судьба совсем другая!!! Я благодарна Наталье за возможность увидеть это и принять решение жить своей судьбой!!!
                Наташа практически вела меня за руку, поддерживая в тяжелые для меня моменты и подсказывая тогда, когда моя невысокая чувствительность мешала мне понять свои чувства и эмоции.
                Я осознала, что в своей жизни "выдвигала" вперед своего внутреннего Мужчину и решала все возникающие вопросы именно с его позиций. Но я ведь ЖЕНЩИНА!!!!
                Наташа, спасибо тебе за это осознание! Я увидела путь, которым следует двигаться, чтобы в моей жизни главенствовала ЖЕНЩИНА!!!
            </p>
            <p class="author">Вера Холмогорова, Саратов</p>
        </div>
    </section>
    <div class="schedule">
        <div class="wrapper link-block">
            <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">Перейти к расписанию тренингов</a>
        </div>
    </div>

    <section class="block21"> <!-- Андреева Наталья -->
        <div class="wrapper clr">
            <div class="photo-container">
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/vasina.jpg' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="about dovlatov">
                <h3>Лариса Васина</h3>
                <ul class="biography circle-marked">
                    <li>Процессор и тренер авторской методики Константина Довлатова Духовная Интеграционика</li>
                    <li>Процессор и тренер по Метафорическим Картам</li>
                    <li>Выпускница авторской Школы Коучинга Константина Довлатова</li>
                    <li>Процессор RPT (1-й, 2-й, 3-й, 4-й уровни)</li>
                    <li>Практикующий психолог, коуч, тренер, Су Джок терапевт</li>
                    <li>Специализации – работа с блоками на пути достижения цели, осознанное восстановление отношений с собой и миром</li>
                    <li>Клиенты обретают понимание того, что с ними происходит, улучшают отношения с детьми, родителями, партнерами, восстанавливают здоровье, улучшают бизнес, открывают новые возможности продвижения во всех сферах жизни</li>
                    <li>Помогает людям запустить процессы очищения тела и Души, активирует жизненные энергии организма</li>
                </ul>
            </div>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>Лариса обладает удивительным качеством в работе - совершенно незаметно и непонятным для меня образом, вопросы, которые казались для меня глобально важными и сложно разрешимыми, после общения с Ларисой теряют свою сложность и гиперважность. В душе и разуме приходит более спокойное принятие ситуации. И если до общения я не знала, как быть с тем или иным вопросом, то после общения эмоции приходят в норму и, порою, я удивлялась, на основании чего я так гиперболизировала для себя тот или иной вопрос. Она проработала так мою проблему, что я смогла совершенно с другого ракурса посмотреть на нее. Мое внутреннее состояние трансформировалось на 180 градусов. Она провела меня из болезненного жалкого состояния в состояние принятия и умиротворения. Появилось ощущение согласованности, покоя, целостности, гармонии с миром, что все произойдет само собой и наилучшим образом. Лариса вела процесс мягко и очень комфортно для меня, так что я смогла довериться ей и принять ее помощь. Я очень благодарна Вам.
            </p>
            <p class="author">Светлана Цой, Южно-Сахалинск</p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>
                К Ларисе обратилась в мае 2016 года по поводу постоянной боли в горле, с которой никак не могла справиться более 1 года. За 2 минуты Лариса увидела причину моей боли и исцелила ее. Благодаря этому процессу оказалось, что меня все время держали обещания, и я поняла, как важно не откладывать дела и свои потребности на потом. Это был очень глубокий и важный для меня процесс. Боль в горле ушла и не возвращалась больше и еще столько новых осознаний и нового опыта. Я от всей души благодарю Ларису за такую короткую, но потрясающую по свои результатам сессию. Метод Духовной Интеграционики поистине творит чудеса!
            </p>
            <p class="author">Анна, Екатеринбург</p>
        </div>
        <div class="review wrapper">
            <i class="fa fa-quote-right"></i>
            <p>
                Работали с Ларисой по возрастным кризисам. Казалось, что работы - непочатый край. А с Ларисой проработали с помощью ДИ (Духовной Интеграционики) меньше чем за час. Причем попутно поснимали и другие актуальные заряды! Лариса просто волшебница, к тому же чуткая и терпеливая. До этого несколько раз прорабатывала с ней несколько довольно сложных тем, и каждый раз - отличный результат. Если сложности в жизни - рекомендую обратиться к Ларисе, она точно поможет!
            </p>
            <p class="author">София Л.</p>
        </div>
    </section>
    <div class="schedule">
        <div class="wrapper link-block">
            <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">Перейти к расписанию тренингов</a>
        </div>
    </div>

    <section class="block21"> <!-- Татьяна Дехтяренко  -->
        <div class="wrapper clr">
            <div class="photo-container">
                {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/Dehtayrenko.jpg' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="about dovlatov">
                <h3>Татьяна Дехтяренко </h3>
                <ul class="biography circle-marked">
                    <li>Высшее медицинское образование, врач первой категории</li>
                    <li>Тренер методики Константина Довлатова Духовная Интеграционика</li>
                    <li>Инструктор Тета-Хилинг (Американский институт Тета-Хилинга)</li>
                    <li>Практик по методу Исцеления Сигнатурной Клеткой (Американская школа Каху Фреда Стерлинга)</li>
                    <li>Регрессолог, медиум, ангелотерапевт, энергоинформационный целитель, ясновидящая )</li>
                    <li>Мастер Учитель энергии Рейки, Джох-Рей и Энергии Высоких частот всех ступеней, Кундалини Рейки, Каруна Рейки</li>
                    <li>Мастер Учитель Энергии Мудр, Атлантов и Египетских Жрецов</li>
                    <li>Помогаю людям найти свою дорогу в жизни, излечиться от телесных и душевных болезней, изменить прошлое и получить оттуда ресурсы для будущего</li>
                </ul>
            </div>
        </div>
    </section>

    <div class="schedule">
        <div class="wrapper link-block">
            <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">Перейти к расписанию тренингов</a>
        </div>
        <div class="live">
            <div class="wrapper">
                <h3>Расписание живых тренингов ДИ-1</h3>
                <table class="live-table">
                    <thead>
                    <tr>
                        <td>1-3 июля</td>
                        <td>Саратов</td>
                        <td>Инга Цебулина</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td><a href="http://success.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-g-saratov-pervyj-vznos/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://success.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-g-saratov/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1-3 июля</td>
                        <td>Иркутск</td>
                        <td>Мусаева Гуля</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://musaevagulya.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-irkutsk-pervyj-vznos/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://musaevagulya.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-irkutsk/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1-3 июля</td>
                        <td>Москва</td>
                        <td>Наталья Андреева</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://nataandreeva.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-moskva-1-3-iyulya-2016-goda-predoplata/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://nataandreeva.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-moskva-1-3-iyulya-2016-goda/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8-10 июля</td>
                        <td>Москва</td>
                        <td>Эльмира Довлатова (Сафиуллина)</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://www.dowlatow.ru/ak/ak_buy_goods.php?idg=2277" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://www.dowlatow.ru/ak/ak_buy_goods.php?idg=2278" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8-10 июля</td>
                        <td>Краснодар</td>
                        <td>Сибирякова Мария</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://mariyasib.ru/product/duhovnaya-integratsionika-1-uroven-krasnodar-22-24-aprelya-2016-pervyj-vznos/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://mariyasib.ru/product/duhovnaya-integratsionika-1-uroven-krasnodar/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>

                    <tr>
                        <td>8-10 июля</td>
                        <td>Ростов-на-Дону</td>
                        <td>Софья Саская</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://sofiya.salesystems.ru/product/predoplata-za-trening-duhovnaya-integratsionika-1-j-uroven-v-rostove-na-donu-8-10-iyulya/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://sofiya.salesystems.ru/product/562/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>15-17 июля</td>
                        <td>Екатеринбург</td>
                        <td>Лариса Васина</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://larisavasina.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-rannyaya-oplata/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://larisavasina.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-ekaterinburg-15-iyulya/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>22-24 июля</td>
                        <td>Запорожье</td>
                        <td>Геннадий Шевчук</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://shevchuk.salesystems.ru/product/647/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>22-24 июля</td>
                        <td>Кременчуг</td>
                        <td>Татьяна Дехтяренко</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://rassvet37.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-pervyj-vznos-g-kremenchug-2/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://rassvet37.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-g-kremenchug/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>29-31 июля</td>
                        <td>Ереван</td>
                        <td>Эльмира Довлатова (Сафиуллина)</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://www.dowlatow.ru/ak/ak_buy_goods.php?idg=2414" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://www.dowlatow.ru/ak/ak_buy_goods.php?idg=2413" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>5-7 августа</td>
                        <td>Москва</td>
                        <td>Мусаева Гуля</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://musaevagulya.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-moskva-pervyj-vznos-avgust/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://musaevagulya.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-moskva-2/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>12-14 августа</td>
                        <td>Новосибирск</td>
                        <td>Инга Цебулина</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td><a href="http://success.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-g-novosibirsk-pervyj-vznos/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://success.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-g-novosibirsk/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>26-28 августа</td>
                        <td>Москва</td>
                        <td>Елена Волгина</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td><a href="http://volgina.salesystems.ru/product/di1/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://volgina.salesystems.ru/product/di1full/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2-4 сентября</td>
                        <td>Москва</td>
                        <td>Нурида Мамедова</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://nuridamamedova.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-pervyj-vznos-g-moskva-2-sentyabrya/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://nuridamamedova.salesystems.ru/product/trening-duhovnaya-integratsionika-1uroven-g-moskva/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>9-11 сентября</td>
                        <td>Оренбург</td>
                        <td>Мусаева Гуля</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://musaevagulya.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-orenburg-pervyj-vznos/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://musaevagulya.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-orenburg/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>9-11 сентября</td>
                        <td>Краснодар</td>
                        <td>Сибирякова Мария</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://mariyasib.ru/product/duhovnaya-integratsionika-1-uroven-krasnodar-9-11-sentyabrya-2016-pervyj-vznos-kopirovat/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://mariyasib.ru/product/duhovnaya-integratsionika-1-uroven-krasnodar-9-11-sentyabrya-2016-goda/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td> 16-18 сентября</td>
                        <td>Лондон</td>
                        <td>Чиндяскина Ирина</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://irinachindi.salesystems.ru/product/duhovnaya-integratsionika-1-london-15-17-iyulya-2016g-predoplata/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://irinachindi.salesystems.ru/product/duhovnaya-integratsionika-1-london-15-17-iyulya-2016g/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>16-18 сентября</td>
                        <td>Санкт-Петербург</td>
                        <td>Инга Цебулина</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td><a href="http://success.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-g-sankt-peterburg-pervyj-vznos/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://success.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-g-sankt-peterburg/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>23-25 сентября</td>
                        <td>Казань</td>
                        <td>Мусаева Гуля</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://musaevagulya.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-kazan-predoplata/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://musaevagulya.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-kazan/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>14-16 октября</td>
                        <td>Москва</td>
                        <td>Константин Довлатов </td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://www.dowlatow.ru/ak/ak_buy_goods.php?idg=2385" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://www.dowlatow.ru/ak/ak_buy_goods.php?idg=2384" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>4-6 ноября</td>
                        <td>Екатеринбург</td>
                        <td>Мусаева Гуля</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://musaevagulya.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-ekaterinburg-predoplata/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://musaevagulya.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-ekaterinburg-2/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>25-27 ноября</td>
                        <td>Уфа</td>
                        <td>Мусаева Гуля</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td>
                            <a href="http://musaevagulya.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-ufa-1vznos/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://musaevagulya.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-ufa-11/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2-4 декабря</td>
                        <td>Москва</td>
                        <td>Нурида Мамедова</td>
                        <!--td>5 000 руб.<br><br>40 000 руб.</td-->
                        <td><a href="http://nuridamamedova.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-pervyj-vznos-g-moskva-2-dekabrya/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Внести
                                первый взнос</a>
                            <a href="http://nuridamamedova.salesystems.ru/product/trening-duhovnaya-integratsionika-1-uroven-g-moskva-2-dekabrya/?idp=1083" target="_blank"
                               class="sign-up"
                               onclick="yaCounter32613600.reachGoal('oplata_treninga'); return true;">Оплатить
                                100% участие</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="wrapper" style="padding-bottom: 0;">
                <h3>СТОИМОСТЬ УЧАСТИЯ*</h3>

                <ul class="biography circle-marked" style="font-size: 20px;  color: #8b7f8d;  line-height: 180%;margin-bottom: 0;">
                    <li style="margin-bottom:15px;"><strong>40 000</strong> рублей при раннем внесении первого взноса
                        или полной оплаты (не позднее, чем за 14 дней до даты начала тренинга)<br/>
                        Размер первого взноса 12 000 руб.
                    </li>
                    <li>50.000 рублей при внесении первого взноса или полной предоплаты, если до начала тренинга
                        осталось меньше 14 дней<br/>
                        Размер первого взноса 14 000 руб.
                    </li>
                </ul>
                <p style="color: #8b7f8d;"><i>*Стоимость участия у разных тренеров может отличаться.<br>
                        Для получения точной информации нажмите кнопку оплаты интересующего вас тренинга.</i></p>
            </div>
        </div>
    </div>
</section>