<div class="fixed-menu-container">
    <div class="fixed-menu">
        <ul class="menu">
            <li><a href="#" class="scroll-to" data-target=".block1">Что такое ДИ</a></li>
            <li><a href="#" class="scroll-to" data-target=".block5">Как это работает</a></li>
            <li>
                <a href="#" class="scroll-to" data-target=".block9 .wrapper">
                    ДИ-1
                </a>
                <ul class="downdrop">
                    <li><a href="{{ path('integra_training') }}">ДИ-1.1</a></li>
                    <li><a href="{{ path('integra_training') }}">ДИ-1.2</a></li>
                    <li><a href="{{ path('integra_training') }}">ДИ-1.3</a></li>
                    <li><a href="{{ path('integra_training') }}">ДИ-1.4</a></li>
                </ul>
            </li>
            <li><a href="{{ path('di_two_free') }}" target="_blank"  data-target=".block9 .wrapper">ДИ-2</a></li>
            <li><a href="#" class="scroll-to" data-target=".block12 h3">Тренеры</a></li>
            <li><a href="#" class="scroll-to" data-target=".block16 .live">Расписание</a></li>
            <li><a href="#" class="scroll-to" data-target=".footer">Контакты</a></li>
        </ul>
    </div>
</div>